.row.proximos-viajes
    each viaje in viajes
        .col-md-6.col-lg-4.mb-4
            .card
                img(src=`img/destinos_${viaje.imagen}.jpg`, alt="", srcset="")
                .card-body
                    h2 #{viaje.titulo}
                    include ./info_viaje
                    p= viaje.descripcion.substr(0,100) + '...'
                    a(href=`/viajes/${viaje.slug}` class="btn btn-success btn-block") Más Información