extends ./layouts/index 
block contenido  
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen-nosotros" , class="img-fluid")
            .col-md-7
                h1 #{titulo}
                blockquote Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur velit autem fugit nemo error dolore ex quos quisquam et, modi eum dolores earum quia similique aliquam placeat nisi voluptatum blanditiis!Iure repudiandae architecto amet sed illo ea cum alias libero distinctio..

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, sunt, atque aperiam minus laborum repellendus itaque vel, eaque ut provident dolor quas perspiciatis.

                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum ipsum nihil debitis sunt nam non reiciendis voluptates illo a molestiae, quis asperiores perspiciatis adipisci.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono-seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum ipsum nihil debitis sunt nam non reiciendis voluptates illo a molestiae, quis asperiores perspiciatis adipisci.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono-destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum ipsum nihil debitis sunt nam non reiciendis voluptates illo a molestiae, quis asperiores perspiciatis adipisci.
                .col-md-4 
                    img(src="img/icono_precio.svg", alt="icono-precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum ipsum nihil debitis sunt nam non reiciendis voluptates illo a molestiae, quis asperiores perspiciatis adipisci.